# FastAPI Application Settings
FASTAPI_APP_ENVIRONMENT=dev
SESSION_SECRET=changeme_session

# MongoDB Settings
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=changeme_mongo
MONGO_DB_NAME=dts2

# Redis Settings
REDIS_PASSWORD=changeme_redis

# Mongo Express (debug profile)
ME_USER=admin
ME_PASSWORD=changeme_me
